# Configurações do Supabase
NEXT_PUBLIC_SUPABASE_URL=https://nwywkxdbminerwjgrlxe.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable_0r8zgbW9TZZBbDGMqINDQQ_flRNMS9J
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im53eXdreGRibWluZXJ3amdybHhlIiwicm9sZSI6ImFub24iLCJpYXQiOjE3OTAxNjg5MjgsImV4cCI6MjEwNTc0NDkyOH0.vNjxxuUZoPHn-jIE9cMtG_OvkD_-u9uEmu3OGwSp3JI
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im53eXdreGRibWluZXJ3amdybHhlIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc5MDE2ODkyOCwiZXhwIjoyMTA1NzQ0OTI4fQ.Pq-jec8aCokhKo6vt2dQEWkS1QbBnTerHNVvSyCV0oc

# Configurações do App
NEXT_PUBLIC_APP_URL=23092026-new-erp-marketplaces-web.vercel.app
